<a class="wikia-nav__header" {{action 'goToLogin'}}>
  <figure class="wikia-nav__avatar">
    {{svg 'avatar' class='wikia-nav--login'}}
  </figure>
  {{i18n 'user-status.login-text'}} | {{i18n 'user-status.register-text'}}
</a>
