<div class="side-nav-drawer">
  <div class="side-nav-drawer__content">
    {{!-- nav header is inserted here --}}
    {{!-- nav menu is inserted here --}}

    {{!--nav-menu
        items=model.items
        onClickHandler=(action 'onClick')
        onChangeItemHandler=(action 'goToSubNav')
    --}}
  </div>
</div>
