<div class="side-nav-drawer">
  <div class="side-nav-drawer__content">
    <div class="wiki-nav wikia-nav--in-root">
      <a class="wikia-nav__header">
        {{!-- nav header is inserted here --}}
      </a>

      <ul class="nav-menu">
        {{!-- nav menu is inserted here --}}
      </ul>
    </div>
  </div>
</div>
