<div class="wds-global-navigation__account-menu wds-dropdown">
  <div class="wds-global-navigation__dropdown-toggle wds-dropdown__toggle">
    <svg class="wds-icon wds-icon-small">
      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#wds-icons-user"></use>
    </svg>
    <span class="wds-global-navigation__account-menu-caption">{{strings.global-navigation-anon-my-account}}</span>
    <svg class="wds-icon wds-icon-tiny wds-dropdown__toggle-chevron">
      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#wds-icons-dropdown-tiny"></use>
    </svg>
  </div>
  <div class="wds-global-navigation__dropdown-content wds-is-right-aligned wds-dropdown__content">
    <ul class="wds-has-lines-between wds-list">
      <li>
        <a rel="nofollow" class="wds-button wds-is-full-width anon-sign-in">{{strings.global-navigation-anon-sign-in}}</a>
      </li>
      <li>
        <div class="wds-global-navigation__account-menu-dropdown-caption">{{strings.global-navigation-anon-register-description}}</div>
        <a rel="nofollow" class="wds-button wds-is-full-width wds-is-secondary anon-register">{{strings.global-navigation-anon-register}}</a>
      </li>
    </ul>
  </div>
</div>