<li>
  <div class="wds-global-navigation__dropdown-link global-navigation-user-sign-out">
    <form method="POST">
      <button type="submit" class="wds-sign-out__button">{{button-text}}</button>
    </form>
  </div>
</li>
