<div id="ember454" class="site-head-container ember-view site-head-headroom site-head-headroom-top"><div class="site-head-wrapper">
	<nav class="site-head no-shadow">
		<div class="site-head__nav-icon-wrapper">
			<a id="ember467" class="site-head-icon site-head-icon-nav icon-button ember-view"><svg class="icon-button-icon" role="img" width="24" height="24"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#nav"></use></svg>
			</a>
			<!---->		</div>
		<div class="site-logo">
			<a href="http://fandom.wikia.com" data-ember-action="" data-ember-action-484="484">
				<svg class="fandom-logo" role="img"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#wds-company-logo-fandom"></use></svg>
			</a>
		</div>
		<div class="site-head-icon-search">
			<a id="ember485" class="site-head-icon icon-button ember-view"><svg class="icon-button-icon" role="img" width="24" height="24"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#search"></use></svg>
			</a>
		</div>
	</nav>
</div>
	<div id="ember490" class="site-head-fandom-bar-wrapper ember-view"><div class="site-head-fandom-bar">
		<a href="http://fandom.wikia.com">
			<svg class="fandom-bar-logo" role="img"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#wds-company-logo-powered-by-wikia"></use></svg>
		</a>
		<!----></div>
	</div>
	<div id="site-head-sub-header"></div>
</div>
<nav id="ember495" class="slide-into-view ember-view"><div class="side-nav-drawer">
	<div class="side-nav-drawer__content">
		<div id="ember1037" class="wikia-search-wrapper ember-view"><div class="wikia-search wikia-search--empty  ">
			<div class="wikia-search__item search">
				<div class="wikia-search__container">
					<a id="ember1040" class="wikia-search__search-icon icon-button ember-view"><svg class="icon-button-icon" role="img" width="18" height="18"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#search"></use></svg>
					</a>
					<input type="search" placeholder="Search" id="ember1047" class="side-search__input ember-text-field ember-view">
					<a id="ember1048" class="wikia-search__clear icon-button ember-view"><svg class="icon-button-icon" role="img" width="18" height="18"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#side-nav-search-clear"></use></svg>
					</a>
				</div>
			</div>
			<div class="wikia-search__suggestions-wrapper" data-ember-action="" data-ember-action-1049="1049">
				<ul class="wikia-search__suggestions">
					<!---->		</ul>
			</div>
		</div>
		</div>
		<div id="ember972" class="wikia-nav wikia-nav--in-root ember-view">		<a class="wikia-nav__header" data-ember-action="" data-ember-action-977="977">
			<figure class="wikia-nav__avatar">
				<svg class="wikia-nav--login"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#avatar"></use></svg>
			</figure>
			Sign In | Register
		</a>

			<div id="ember980" class="ember-view"><ul class="nav-menu">
				<div id="ember982" class="ember-view"><li class="nav-menu__item nav-menu--external nav-menu--games" data-ember-action="" data-ember-action-983="983">
					<a href="http://fandom.wikia.com/topics/games">
						Games
					</a>
				</li>
				</div>
				<div id="ember985" class="ember-view"><li class="nav-menu__item nav-menu--external nav-menu--movies" data-ember-action="" data-ember-action-986="986">
					<a href="http://fandom.wikia.com/topics/movies">
						Movies
					</a>
				</li>
				</div>
				<div id="ember988" class="ember-view"><li class="nav-menu__item nav-menu--external nav-menu--tv" data-ember-action="" data-ember-action-989="989">
					<a href="http://fandom.wikia.com/topics/tv">
						TV
					</a>
				</li>
				</div>
				<div id="ember991" class="ember-view"><li class="nav-menu__item nav-menu--root nav-menu--explore" data-ember-action="" data-ember-action-992="992">
					Wikis
				</li>
				</div>
				<div id="ember994" class="ember-view"><li class="nav-menu__item nav-menu__header" data-ember-action="" data-ember-action-998="998">
					<a href="/wiki/Call_of_Duty_Wiki" id="ember1004" class="active ember-view">		Explore Call of Duty Wiki
					</a></li>
				</div>
				<div id="ember1012" class="ember-view"><li class="nav-menu__item " data-ember-action="" data-ember-action-1013="1013">
					<a href="/d/f">
						Discussions
					</a>
				</li>
				</div>
				<div id="ember1015" class="ember-view"><li class="nav-menu__item nav-menu--root " data-ember-action="" data-ember-action-1016="1016">
					Community
				</li>
				</div>
				<div id="ember1018" class="ember-view"><li class="nav-menu__item nav-menu--root " data-ember-action="" data-ember-action-1019="1019">
					Infinite Warfare
				</li>
				</div>
				<div id="ember1021" class="ember-view"><li class="nav-menu__item nav-menu--root " data-ember-action="" data-ember-action-1022="1022">
					Games
				</li>
				</div>
				<div id="ember1024" class="ember-view"><li class="nav-menu__item nav-menu--root " data-ember-action="" data-ember-action-1025="1025">
					Multiplayer
				</li>
				</div>
				<div id="ember1027" class="ember-view"><li class="nav-menu__item " data-ember-action="" data-ember-action-1028="1028">
					Random Page
				</li>
				</div>
			</ul>
			</div>
		</div>

	</div>
</div>
</nav>
