<div class="wds-global-navigation__user-menu wds-dropdown">
  <div title="{{user.name}}" class="wds-global-navigation__dropdown-toggle wds-dropdown__toggle">
    <img class="wds-avatar" src="{{user.avatar}}" alt="{{user.name}}">
    <svg class="wds-icon wds-icon-tiny wds-dropdown__toggle-chevron">
      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#wds-icons-dropdown-tiny"></use>
    </svg>
  </div>
  <div class="wds-global-navigation__dropdown-content wds-is-right-aligned wds-dropdown__content">
    <ul class="wds-is-linked wds-list">
    </ul>
  </div>
</div>
