<div class="wds-global-footer__bottom-bar">
    <div class="wds-global-footer__bottom-bar-row wds-has-padding">
        {{{license model.licensing_and_vertical.description communityName vertical}}}
    </div>
</div>