<div class="wds-global-footer__bottom-bar">
    <div class="wds-global-footer__bottom-bar-row wds-has-padding">
        {{{license model.licensing_and_vertical.description communityName vertical}}}
    </div>
    <div class="wds-global-footer__bottom-bar-row wds-has-border-top global-footer-full-site-link-wrapper">
        <a id="global-footer-full-site-link" href="?useskin=oasis" rel="nofollow" class="wds-global-footer__button-link" data-tracking-label="full-site-link">
            {{i18n 'global-footer-full-site-link' ns='design-system'}}
        </a>
    </div>
</div>